<br><br><br>
<h1> Your Clubs </h1>
<ul>
    <% %>
    <li> 
    </li>
</ul>

<h2> All Clubs </h2>
<ul>
    <% @clubs.each do |club| %>
    <li> 
        <%= club.name %>
    </li>
    <% end %>
</ul>