<br><br><br>
<h1> <%= @club.name %></h1>

<div class="members">
<ul>
    <% @karts.sort.reverse.each do |kart| %>
        <% if kart.club.id == @club.id %>
            <li><%= kart.user.username %></li>
        <% end %>
    <% end %>
</ul>
</div>
