<br><br><br>
<h1> Pixel Kart v2 Cyber Edition </h1>
<div class="help">
    <% if !logged_in? %>
    <h4><%= link_to "BACK to Login", login_path %></h4>
    <% end %>
</div>
<hr>
<p> Under Construction: Demo (Enbedded YouTube Video) </p>

<h3> Login or Sign up? </h3>

<p>
If you dont already have an account sign up or use your Google account to login.<br>
If you already have an account Login with your email & password.

<h3> Build your first Kart </h3>
<ol>
    <li>Click the link to "Build a Kart"</li>
    <li>Name your Kart</li>
    <li>Select from the drop down a Driver, Body, & Wheels</li>
    <li>Select a current Club to join or start your own by providing a new "Club Name"</li>
    <li>Click "Build this Kart"</li>
</ol>

<h3> View all your Karts </h3>
<ol>
    <li> Just head Home, click on the Home link in the top left corner</li>
</ol>

<h3> Rate a Kart </h3>
<ol>
    <li> Click on Reviews </li>
    - NOTE: Karts without ratings are listed at the bottom.
    <br>
    - NOTE: You can not review your own Kart
    <li>Select a Kart Name</li>
    <li>Click on "Review this Kart"</li>
    <li>Choose a rating from 1-4 from the drop down</li>
    <li>Add any comments if you'd like</li>
    <li>Click "Create Review"</li> 
</ol>

<h3> Check out some some additional info about a Kart</h3> 
<ol>
    <li>Click on "Reviews" or "Home"</li>
    <li>Click on the Kart name to see what the kart looks like</li>
    <li>Click on the Kart name to see what the kart looks like or scroll down to see reviews for the kart.</li>
</ol>
    - NOTE: You can DELETE your own Kart by clicking the "DELETE KART"
    
<hr>
<% if !logged_in? %>
    <div class="help"><%= link_to "Signup", signup_path %></div> 
    <div class="help"><%= link_to "Login", login_path %></div>
<% end %>
<hr>

<h3>Special thanks to: </h3>
<ul>
    <li>Leandro RR - https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m</li>
    <li>https://cssgradient.io/</li>
    <li>https://css-tricks.com/</li>
</ul>
<h3>Contributors Guide</h3>
<p>
Bug reports and pull requests are welcome on GitHub. This project is intended to be a safe, welcoming space for collaboration, and contributors are expected to adhere to the [Contributor Covenant](http://contributor-covenant.org) code of conduct.
</p>

<h3>License</h3>
<p>
Copyright 2020 (Kyle R. McKenna)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
<hr>
<br><br>