<br><br><br>
<div class="garage">
    <h1> <%= @user.username %>'s Garage </h1>

    <% if @user.karts == [] %>
        <h2> Your Garage is empty! </h2>
        <%= link_to "Build your first Kart", new_kart_path %>
    <% end %>


    <ul>
        <% @user.karts.each do |kart| %>
            <li> <%= link_to kart.name, kart_path(kart.id) %> </li>
        <% end %>
    </ul>
</div>