<br><br><br>
<h1> Build a Kart </h1>

<div class="flashmessage">
    <% if @kart.errors.full_messages != [] %>
        <%= @kart.errors.full_messages %>
    <% end %>
</div>

<%= form_for @kart do |f| %>

    <%= f.text_field :name, placeholder: "Kart Name", required: true %>
    

<% end %>