/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//Custom Font
@font-face {
    font-family: "Checkbook-1K2";
    src: url("/assets/fonts/Checkbook-1K2.ttf") format("truetype");
} 
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
// Font Variables
$font-family: 'Orbitron', sans-serif;
$primary-color: #fff;

// Styles
body, html {
    height: 100%;
    background: rgb(101,10,124);
    background: radial-gradient(circle, #650a7c 7%, #230338 58%);
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

//  LOGIN, SIGNUP, & HELP PAGES
.start {
    background: url(StartBackground.png) #230338;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Checkbook-1K2", 'Orbitron', sans-serif;
 }

.start form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-start {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-width: 400px;
    padding: 35px;
    text-decoration: none;
}

.container-input {
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 14px 20px;
    background: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
}

.submitbutton {
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 14px 20px;
    background: #fff;
    border-radius: 10px;
    font-size: 1.5rem;

    cursor: pointer;
    transition: all .25s ease;
}

.submitbutton:hover{
    background: #650a7c;
    color: #fff;
    transform: scale(.99);
}

.start h1 {
    text-align: center;
}

.start h4 {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}